<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            color: red;
            text-decoration: none;
        }

        .container {
            width: 500px;
            margin: 0 auto;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    {% block header %}
    <div>
        {% if request.user and request.user.username != '' %}
        用户名： {{ request.user}} <a href="{% url 'publish:logout' %}">退出</a>
        {% else %}
        <a href="{% url 'publish:login' %}">登录</a> <a href="{% url 'publish:regist' %}">注册</a>
        {% endif%}

    </div>

    {% endblock %}

    {% block body %}
    身体
    {% endblock %}

    {% block footer%}
     <div class="pict">
<!--        <iframe src="/static/img/afc.jpg" frameborder="0"></iframe>-->
        <img src="/static/img/afc.jpg" alt="" style="width: 300px;height: 170px">
     </div>
    {% endblock %}


</div>
</body>
</html>