{% extends 'polls/base.html' %}

{% block title %}
 投票选择
{% endblock%}
{% block body%}
<div style="width: 500px;margin: 0 auto;">


    <h2> 投票的问题是： {{question.title}} </h2>
    <ul>
        <h3>选项有</h3>
        <form action="#" method="post">
            {% csrf_token %}
            {% for c in question.choices.all %}
            {% if forloop.counter == 1 %}
            <li><input type="radio" checked name="num" value="{{c.id}}"> {{c.content}}</li>
            {% else %}
            <li><input type="radio" name="num" value="{{c.id}}"> {{c.content}}</li>
            {% endif %}
            {% endfor %}
            <input type="submit" value="投票">
        </form>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'publish:index' %}">返回</a>
</div>

{% endblock%}

