{% extends 'base.html' %}
{% load myfun %}
{% block aside %}
    <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_latestarticles as latestarticles %}
                    <ul>
                        {% for article in latestarticles %}
                        <li>
                            <a href="{% url 'blogapp:detail' article.id %}">{{ article.title }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% get_latedates as latedate %}
                    <ul>
                        {% for dates in latedate %}
                            <li>
                                <a href="/?type=date&year={{dates.year}}&month={{dates.month}}">{{dates.year}} 年 {{dates.month}} 月</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    {% get_latecategory as latecategory %}
                    <ul>
                        {% for cate in latecategory %}
                        <li>
                            <a href="/?type=category&category_id={{cate.id}}">{{cate.name}} <span class="post-count">({{cate.article_set.count}})</span></a>
                        </li>
                        {% endfor%}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    {% get_taps as taps %}
                    <ul>
                        {% for tag in taps %}
                        <li>
                            <a href="/?type=tag&tag_id={{tag.id}}">{{tag.name}}</a>
                        </li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="rss">
                    <a href="{% url 'blogapp:rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
{% endblock %}
