{% extends 'base.html'  %}
{% block title %}
全部博客
{% endblock %}

{% block main %}
<main class="col-md-12">
    <article class="post post-1">

        <div class="entry-content clearfix">

            {% for a in articles %}

            <h1>
                <a href="{% url 'blogapp:detail' a.id %}">{{a.title}}</a>
            </h1>

            {% endfor %}


        </div>
    </article>
    <!-- 简单分页效果
    <div class="pagination-simple">
        <a href="#">上一页</a>
        <span class="current">第 6 页 / 共 11 页</span>
        <a href="#">下一页</a>
    </div>
    -->
    <div class="pagination col-md-11">
        <ul>
            {% if page.has_previous %}
            <li class="col-md-2"><a
                    href="?pagenum={{page.previous_page_number}}&type={{typepage}}&year={{year}}&month={{month}}&category_id={{category_id}}&tag_id={{tag_id}}">上一页</a>
            </li>
            {% endif %}

            {% for peg in page.paginator.page_range %}
            {% if peg == page.number %}

            <li class="current col-md-1"><a
                    href="?pagenum={{peg}}&type={{typepage}}&year={{year}}&month={{month}}&category_id={{category_id}}&tag_id={{tag_id}}">{{peg}}</a>
            </li>
            {% else %}
            <li class="col-md-1"><a
                    href="?pagenum={{peg}}&type={{typepage}}&year={{year}}&month={{month}}&category_id={{category_id}}&tag_id={{tag_id}}">{{peg}}</a>
            </li>
            {% endif %}

            {% endfor %}

            {% if page.has_next %}
            <li class="col-md-2"><a
                    href="?pagenum={{ page.next_page_number}}&type={{typepage}}&year={{year}}&month={{month}}&category_id={{category_id}}&tag_id={{tag_id}}">下一页</a>
            </li>
            {% endif %}
        </ul>
    </div>
</main>

{% endblock %}
























