*{
    margin:auto;
    padding: 5px;
    /*font-size: 32px;*/
    color: #391793;
    width: 1000px;


}
.content{
    margin: 10px;
    padding: 0px;
    color: blue;
    font-size: 18px;
    font-family: 仿宋;
}
img {
    width: 300px;
    height: 170px;
}