<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body >
    <h1>首页欢迎</h1>
<!--    {{ books }}-->
    <div class="content">
        <h2>所有书籍</h2>

        <ul>
            {% for book in books %}
            {# <a href="/booktest/detail/{{book.id}}"> <li>{{ book }}</li> </a> #}

            <li>
                <a href="{% url 'booktest:detail' book.id %}"> {{ book }} ---- {{book.price}} ---- {{book.pub_date}}</a>

                <a href="{% url 'booktest:editbook' book.id %}">编辑</a>

                <a href="{% url 'booktest:deletebook' book.id %}">删除</a>
            </li>

            {% endfor %}
        </ul>
    </div>


    <div class="pict">
<!--        <iframe src="/static/img/afc.jpg" frameborder="0"></iframe>-->
        <img src="/static/img/afc.jpg" alt="">

    </div>
     <div>
        <audio src="/static/resource/山鬼.mp3" controls style="width: 300px;"></audio>
    </div>
</body>
</html>