<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="static/css/main.css">

</head>
<body >
    <div style="text-align: center">


           <h1>首页欢迎</h1>
    <br>
    <a href="{% url 'publish:index' %}" style="text-decoration:underline red"><h2 style="color: red;">投票页面</h2></a>
    <br>
    <div class="content">
        <h2>所有书籍</h2>

        <p><b>查看详情请点击书名</b></p>
        <br>
        <ul style="margin-left: 10px">
            {% for book in books %}
            {# <a href="/booktest/detail/{{book.id}}"> <li>{{ book }}</li> </a> #}


            <li>
                <a href="{% url 'booktest:detail' book.id %}"> {{ book }} ---- {{book.price}} ---- {{book.pub_date}}</a>

                <a href="{% url 'booktest:editbook' book.id %}" style="color: black">编辑</a>

                <a href="{% url 'booktest:deletebook' book.id %}" style="color: red">删除</a>
            </li>

            {% endfor %}
        </ul>
    </div>


    <div class="pict">
<!--        <iframe src="/static/img/afc.jpg" frameborder="0"></iframe>-->
        <img src="/static/img/afc.jpg" alt="" style="width: 300px;height: 170px">

    </div>
     <div>
        <audio src="/static/resource/山鬼.mp3" controls style="width: 300px;"></audio>
    </div>

    </div>

</body>
</html>